NODE_ENV=development
REDIS_URL='redis://h:AvERYsECUREpASSWORD@127.0.0.1:6379'
RSA_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nMIIBOQIBAAJBANHW71XDYEtp7Gc+pnpn2DJZ+QOHUxsPCZZWFcSSZROogbuHsXs9\nZOM39v5rMIGmx8vj7anpFrY08FoHCDuwrRMCAwEAAQJAXymDRrig/fJehH/0DcT0\nVflZpZEETlwmc+g8XPYrIptRNApDkxhiwS9Vuot+Jn/MNgeVDNQ7qsoN8BXUkUhZ\nMQIhAPJZTJ0J/cBG05Uk5qxgZQDqYr+Yh6CVTNwszYN2DT5rAiEA3ajZLJmYI4Zm\nt5spveIRt2U5HFIXTdfiXKG2/lu8pfkCIAaVDlOlldLHGbAPVISSCaxAsXXquqRN\n6cyBGwPbDPkJAiB0IMT+381cN0rTQKBi0fDUM1zzYHLDHqqCO1si8a7pCQIgfV1h\nzsjG6c7TnJ0M9d7njephx7po5keOcEggsQtiZxg=\n-----END RSA PRIVATE KEY-----"
RSA_PUBLIC_KEY="-----BEGIN RSA PUBLIC KEY-----\nMEgCQQDR1u9Vw2BLaexnPqZ6Z9gyWfkDh1MbDwmWVhXEkmUTqIG7h7F7PWTjN/b+\nazCBpsfL4+2p6Ra2NPBaBwg7sK0TAgMBAAE=\n-----END RSA PUBLIC KEY-----"
